<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h2>Dish Management</h2>
<h5>Add new dishes to your menu filling the fields below. You can also edit and remove items.
Don't forget to update the dishes list everytime it has changes to see the modifications.</h5>


<div ng-app="myApp" ng-controller="myCtrl">
  <br>
  <br>
  <form>
    Name: <input type="text" ng-model="name"><br><br>
    Price: <input type="number" min="0" step=".01" ng-model="price"><br><br>
    Calories: <input type="number" ng-model="calories"><br><br>
    Nutritional info: <input type="text" ng-model="nutritionInfo"><br><br>
    Cusine: <input type="text" ng-model="cusine"><br><br>
    <button ng-click="addDish()">Add new dish</button> &nbsp;

  </form>

  <br><br>
  Resultado: {{mensagem}}

  <br><br>
  <h5>Menu List</h5>
  <table cellspacing="8">
    <tr> <th>{{hdishName}}</th>  <th>{{hdishPrice}}</th> <th>{{hdishCusine}}</th></tr>
    <tr ng-repeat="x in dishes">
      <td>{{ x.name }}</td>
      <td>{{ x.price }}</td>
      <td>{{ x.cusine }}</td>
      <td><button ng-click="edit(x)">Edit</button> &nbsp;
      <button ng-click="remove(x)">Remove</button>&nbsp;</td>
      <button ng-click="updateTable()">Update dish list</button> &nbsp;

    </tr>
  </table>

  <h5>Order List</h5>
  <button ng-click="updateOrdersTable()">Update order list</button> &nbsp;
  <table cellspacing="8">
    <tr> <th>{{hDishOrdered}}</th>  <th>{{hQuantity}}</th></th></tr>
    <tr ng-repeat="y in orders">
      <td>{{ y.dish }}</td>
      <td>{{ y.quantity }}</td>
      <td><button ng-click="removeOrder(y)">Remove</button> &nbsp;</td>

    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

  $scope.doLogout = function() {
       $scope.clear();
       var request = $http({
                   "method": "delete",
                   "url": "/authentication"});
       request.success(function(reply) {
           $scope.mensagem = reply;
       }
     );
   };

  // INSERE
  $scope.addDish = function() {
      $scope.clear();
      if ($scope.name == undefined || $scope.name.length == 0 ||
          $scope.price == undefined || $scope.price.length == 0 ||
          $scope.calories == undefined || $scope.calories.length == 0 ||
          $scope.nutritionInfo == undefined || $scope.nutritionInfo.length == 0 ||
          $scope.cusine == undefined || $scope.cusine.length == 0) {
             $scope.clear();
             $scope.mensagem = "You must fill all the fields above.";
             return;
      }
      var data = {"name": $scope.name,
                  "price": $scope.price,
                  "calories": $scope.calories,
                  "nutritionInfo": $scope.nutritionInfo,
                  "cusine": $scope.cusine};
      var request = $http({
                 "method": "post",
                 "url": "/dishManager",
                 "data": data});
	    $scope.mensagem = request;
      request.success(function(reply) {
        // $scope.dishes = reply.dishes;
        $scope.mensagem = reply.resultado;
      });
      request.error(function(reply) {
        alert("Falha na requisicao");
      }
    );
  };

  $scope.updateTable = function() {
     var url = "/dishes";
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.dishes != null) {
          $scope.hdishName = "Name";
          $scope.hdishPrice = "Price";
          $scope.hdishCalories = "Calories";
          $scope.hdishCusine = "Cusine";
          $scope.mensagem = "";
          $scope.dishes = reply.dishes;
          } else {
              $scope.clear();
              $scope.mensagem = "234890-=df" ;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  $scope.updateOrdersTable = function() {
     var url = "/ordersList";
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.orders != null) {
          $scope.hDishOrdered = "Dish";
          $scope.hQuantity = "Quantity";
          $scope.orders = reply.orders;
          } else {
              $scope.clear();
              $scope.mensagem = "Null" ;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  $scope.edit = function(item) {
    var data = {"old_name": item.name,
                "old price": item.price,
                "old_calories": item.calories,
                "old_nutritionInfo": item.nutritionInfo,
                "old_cusine": item.cusine};
    var request = $http({
                "method": "put",
                "url": "/dishManager",
                "data": data});
    request.success(function(reply) {
         window.open("/editItem", "_blank");
       }
     );
     request.error(function(reply) {
        alert("OOPS! Something bad Happened");
       }
     );
  };

  $scope.remove = function(item) {
    $scope.clear();
    var data = {"name": item.name,
                "price": item.price,
                "cusine": item.cusine};
    console.log("data:", data)
    alert(data.name, data.price, data.cusine)
    var request = $http({
                "method": "delete",
                "url": "/dishManager/" + item.name,
                "data": data});
    request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       }
     );
  };

  $scope.removeOrder = function(item) {
    $scope.clear();
    var data = {"dish": item.dish,
                "quantity": item.quantity};
    var request = $http({
                "method": "delete",
                "url": "/orderManager/" + item.dish,
                "data": data});
    request.success(function(reply) {
          alert("Order removed")
         $scope.mensagem = reply.result;
       }
     );
     request.error(function(reply) {
        alert("Failed");
       }
     );
  };

  // CLEAR
  $scope.clear = function() {
    $scope.alunos = [];
    $scope.mensagem = "";
    $scope.hra = $scope.hnome = $scope.hcurso = "";
    }
  }
);

</script>

</body>
</html>
