<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Restaurante EA975</h1>
<h2>Bem-vind@!</h2>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    <button ng-click="openUserArea()">User area</button>&nbsp;&nbsp;
    <button ng-click="acessa()">Show menu</button>&nbsp;&nbsp;
    <button ng-click="goToRestrictArea()">Restrict access</button>&nbsp;&nbsp;
  </form>

  <br><br>
  Resultado: {{mensagem}}

  <br><br>
  <table cellspacing="8">
    <tr> <th>{{hdishName}}</th>  <th>{{hdishPrice}}</th>  <th>{{hdishCalories}}</th> <th>{{hdishCusine}}</th><th>{{hnutritionInfo}}</th></tr>
    <tr ng-repeat="x in dishes">
      <td>{{ x.name }}</td>
      <td>{{ x.price }}</td>
      <td>{{ x.calories }}</td>
      <td>{{ x.cusine }}</td>
      <td>{{ x.nutritionInfo }}</td>
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

  $scope.openUserArea = function() {
    window.open("/userArea", "_blank");
  }

  $scope.goToRestrictArea = function() {
    window.open("/dishManager", "_blank");
  }

  // ACESSA
  $scope.acessa = function() {
     var url = "/dishes";
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.dishes != null) {
          $scope.hdishName = "Name";
          $scope.hdishPrice = "Price";
          $scope.hdishCalories = "Calories";
          $scope.hdishCusine = "Cusine";
          $scope.hnutritionInfo = "Nutritional info";
          $scope.mensagem = "";
          $scope.dishes = reply.dishes;
          } else {
              $scope.clear();
              $scope.mensagem = "234890-=df" ;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  // INSERE
  $scope.insere = function() {
      $scope.clear();
      if ($scope.username == undefined || $scope.username.length == 0 ||
          $scope.password == undefined || $scope.password.length == 0) {
             $scope.clear();
             $scope.mensagem = "preencha todos os campos acima";
             return;
      }
      var data = {"username": $scope.username,
                  "password": $scope.password};
      var request = $http({
                 "method": "post",
                 "url": "/",
                 "data": data});
	$scope.mensagem = request;
      request.success(function(reply) {
        $scope.mensagem = reply.resultado;
        }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
      }
    );
  };

  // ATUALIZA
  $scope.atualiza = function(ra) {
     $scope.clear();
     if (($scope.nome == undefined || $scope.nome.length == 0) &&
         ($scope.curso == undefined || $scope.curso.length == 0)) {
             $scope.clear();
             $scope.mensagem = "preencha  RA e pelo menos um campo acima";
             return;
     }
     var data = {"ra": ra,
                 "nome": $scope.nome,
                 "curso": $scope.curso};
     var request = $http({
                 "method": "put",
                 "url": "/alunos/" + ra,
                 "data": data});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
         }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
       }
    );
  };

  // REMOVE
  $scope.remove = function(ra) {
     $scope.clear();
     if ($scope.ra == undefined || $scope.ra.length == 0) {
         $scope.clear();
         $scope.mensagem = "preencha o RA do aluno";
         return;
     }
     var request = $http({
                 "method": "delete",
                 "url": "/alunos/" + ra});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       }
     );
   };

  // CLEAR
  $scope.clear = function() {
    $scope.alunos = [];
    $scope.mensagem = "";
    $scope.hra = $scope.hnome = $scope.hcurso = "";
    }
  }
);
</script>

</body>
</html>
