<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Restaurante EA975</h1>
<h2>Bem-vind@!</h2>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    <button ng-click="openUserArea()">User area</button>&nbsp;&nbsp;
    <button ng-click="acessa()">Show menu</button>&nbsp;&nbsp;
    <button ng-click="goToRestrictArea()">Restrict access</button>&nbsp;&nbsp;
  </form>

  <h2>Filtros</h2>
  <form>
    Name: <input type="text" ng-model="name">
    <button ng-click="searchByName()">Seach</button>&nbsp;&nbsp;
<br><br>
    Cusine: <input type="text" ng-model="cusine">
    <button ng-click="searchByCusine()">Seach</button>&nbsp;&nbsp;<br><br>


  </form>

  <br><br>
  Resultado: {{mensagem}}

  <br><br>
  <table cellspacing="8">
    <tr> <th>{{hdishName}}</th>  <th>{{hdishPrice}}</th></tr>
    <tr ng-repeat="x in dishes">
      <td>{{ x.name }}</td>
      <td>{{ x.price }}</td>
      <td><button ng-click="order(x)">Order</button>&nbsp;&nbsp;
      <button ng-click="info(x)">Info</button>&nbsp;&nbsp;</td>
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.factory('dishService', function() {
  var savedData = {}

  function set(data){
    savedData = data;
  }

  function get(){
    return savedData
  }

  return {
    set: set,
    get: get
  }
})

app.controller('myCtrl', function($scope, $http) {

  $scope.openUserArea = function() {
    window.open("/userArea", "_blank");
  }

  $scope.goToRestrictArea = function() {
    window.open("/dishManager", "_blank");
  }

  // ACESSA
  $scope.acessa = function() {
     var url = "/dishes";
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.dishes != null) {
          $scope.hdishName = "Name";
          $scope.hdishPrice = "Price";
          $scope.hdishCalories = "Calories";
          $scope.hdishCusine = "Cusine";
          $scope.hnutritionInfo = "Nutritional info";
          $scope.mensagem = "";
          $scope.dishes = reply.dishes;
          } else {
              $scope.clear();
              $scope.mensagem = "234890-=df" ;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  $scope.info = function(item) {
    var data = {"name": item.name};
    var request = $http({
                "method": "get",
                "url": "/dishInfo/" + item.name,
                "data": data});
    request.success(function(reply) {
         window.open("/dishInfo", "_blank")
       }
     );
     request.error(function(reply) {
        alert("OOPS! Something bad Happened");
       }
     );
  };

  $scope.order = function(item) {
    var data = {"name": item.name}
    var request = $http({
                    "method": "post",
                    "url": "/orders",
                    "data": data
                  });

    request.success(function(reply){
      alert("Order made!")
    });
    request.error(function(reply) {
      alert("OOPS! Something bad Happened");
    })
  };

  $scope.searchByName = function() {
    var data = {"name": $scope.name};
    var request = $http({
                "method": "get",
                "url": "/filterByName/" + data.name});
    alert(data.name)
    request.success(function(reply) {
      if(reply.dishes != null) {
        $scope.hdishName = "Name";
        $scope.hdishPrice = "Price";
        $scope.hdishCalories = "Calories";
        $scope.hdishCusine = "Cusine";
        $scope.hnutritionInfo = "Nutritional info";
        $scope.mensagem = "";
        $scope.dishes = reply.dishes;
        } else {
            $scope.clear();
            $scope.mensagem = "234890-=df" ;
          }
       }
     );
     request.error(function(reply) {
        alert("OOPS! Something bad Happened");
       }
     );
  }

  $scope.searchByCusine = function() {
    var data = {"cusine": $scope.cusine};
    var request = $http({
                "method": "get",
                "url": "/filterByCusine/" + data.cusine});
    alert(data.cusine)
    request.success(function(reply) {
      if(reply.dishes != null) {
        $scope.hdishName = "Name";
        $scope.hdishPrice = "Price";
        $scope.hdishCalories = "Calories";
        $scope.hdishCusine = "Cusine";
        $scope.hnutritionInfo = "Nutritional info";
        $scope.mensagem = "";
        $scope.dishes = reply.dishes;
        } else {
            $scope.clear();
            $scope.mensagem = "234890-=df" ;
          }
       }
     );
     request.error(function(reply) {
        alert("OOPS! Something bad Happened");
       }
     );
  }

  // CLEAR
  $scope.clear = function() {
    $scope.alunos = [];
    $scope.mensagem = "";
    $scope.hra = $scope.hnome = $scope.hcurso = "";
    }
  }
);
</script>

</body>
</html>
