<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Cadastro de Usuários</h1>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    <button ng-click="doLogin()">LOGIN</button>&nbsp;&nbsp;
    <button ng-click="doLogout()">LOGOUT</button><br><br>
    Username: <input type="text" ng-model="username"><br><br>
    Senha: <input type="password" ng-model="password"><br><br>
    <button ng-click="insere()">Cadastrar</button> &nbsp;
    <button ng-click="doLogin()">Login</button> &nbsp;
  </form>

  <br><br>
  Resultado: {{mensagem}}
  
  <br><br>
  <table cellspacing="8">
    <tr> <th>{{husername}}</th>  <th>{{hpassword}}</th>  </tr>
    <tr ng-repeat="x in alunos">
      <td>{{ x.username }}</td>
      <td>{{ x.password }}</td>
      <td><button ng-click="cadastra(x.username)">Cadastrar</button> &nbsp;
      <button ng-click="remove(x.username)">REMOVE</button></td>
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // LOGIN
  $scope.doLogin = function() {
     window.open("/authentication", "_blank");
  }

  // LOGOUT
  $scope.doLogout = function() {
     $scope.clear();
     var request = $http({
                 "method": "delete",
                 "url": "/authentication"});
     request.success(function(reply) {
         $scope.mensagem = reply;
     }
   );
 };


  // ACESSA
  $scope.acessa = function() {
     var url = "/alunos";
     if ($scope.ra != undefined) url = "/alunos/" + $scope.ra;
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.alunos != null) {
          $scope.hra = "RA";
          $scope.hnome = "Aluno";
          $scope.hcurso = "Curso";
          $scope.mensagem = "";
          $scope.alunos = reply.alunos;
          } else {
              $scope.clear();
              $scope.mensagem = reply.resultado;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  // INSERE
  $scope.insere = function() {
      $scope.clear();
      if ($scope.username == undefined || $scope.username.length == 0 ||
          $scope.password == undefined || $scope.password.length == 0) {
             $scope.clear();
             $scope.mensagem = "preencha todos os campos acima";
             return;
      }
      var data = {"username": $scope.username,
                  "password": $scope.password};
      var request = $http({
                 "method": "post",
                 "url": "/",
                 "data": data});
	$scope.mensagem = request;
      request.success(function(reply) {
        $scope.mensagem = reply.resultado;
        }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
      }
    );
  };

  // ATUALIZA
  $scope.atualiza = function(ra) {
     $scope.clear();
     if (($scope.nome == undefined || $scope.nome.length == 0) &&
         ($scope.curso == undefined || $scope.curso.length == 0)) {
             $scope.clear();
             $scope.mensagem = "preencha  RA e pelo menos um campo acima";
             return;
     }
     var data = {"ra": ra,
                 "nome": $scope.nome,
                 "curso": $scope.curso};
     var request = $http({
                 "method": "put",
                 "url": "/alunos/" + ra,
                 "data": data});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
         }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
       }
    );
  };

  // REMOVE
  $scope.remove = function(ra) {
     $scope.clear();
     if ($scope.ra == undefined || $scope.ra.length == 0) {
         $scope.clear();
         $scope.mensagem = "preencha o RA do aluno";
         return;
     }
     var request = $http({
                 "method": "delete",
                 "url": "/alunos/" + ra});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       }
     );
   };

  // CLEAR
  $scope.clear = function() {
    $scope.alunos = [];
    $scope.mensagem = "";
    $scope.hra = $scope.hnome = $scope.hcurso = "";
    }
  }
);
</script> 

</body>
</html>

