<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>User Signup</h1>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    Username: <input type="text" ng-model="username"><br><br>
    Senha: <input type="password" ng-model="password"><br><br>
    <button ng-click="addUser()">Cadastrar</button> &nbsp;
  </form>

  <br><br>
  Resultado: {{mensagem}}

  <br><br>
  <table cellspacing="8">
    <tr> <th>{{husername}}</th>  <th>{{hpassword}}</th>  </tr>
    <tr ng-repeat="x in alunos">
      <td>{{ x.username }}</td>
      <td>{{ x.password }}</td>
      <td><button ng-click="cadastra(x.username)">Cadastrar</button> &nbsp;
      <button ng-click="remove(x.username)">REMOVE</button></td>
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

  // INSERE
  $scope.addUser = function() {
      $scope.clear();
      if ($scope.username == undefined || $scope.username.length == 0 ||
          $scope.password == undefined || $scope.password.length == 0) {
             $scope.clear();
             $scope.mensagem = "You must fill all the fields above.";
             return;
      }
      var data = {"username": $scope.username,
                  "password": $scope.password};
      var request = $http({
                 "method": "post",
                 "url": "/",
                 "data": data});
	    $scope.mensagem = request;
      request.success(function(reply) {
        $scope.mensagem = reply.resultado;
        }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
      }
    );
  };

  // CLEAR
  $scope.clear = function() {
    $scope.alunos = [];
    $scope.mensagem = "";
    $scope.hra = $scope.hnome = $scope.hcurso = "";
    }
  }
);
</script>

</body>
</html>
